h1{
    text-align: center;
    font-style: italic;
    color: chartreuse;
    anima;
}
body{
    color: burlywood;
font-style: initial;
background-color:darkslategray;
text-align: center;}
.head{
    text-align: center;
    lighting-color:burlywood;
}